
  @font-face {
      font-family:"Cardinal";
      src: url('../fonts/Cardinal.ttf');
  }
  @font-face{
    font-family:"typewriter";
    src: url('../fonts/typewriter-royal-200.regular.ttf');
  }
  body{
    background-color: black;
    background-image:url("https://erikavasnormandy.github.io/assets_projects/MITM/james-paick-125868-final.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
  .bookpage {
      background-image: url("https://orig00.deviantart.net/e8e0/f/2011/247/6/e/old_paper_stock_02_by_ftourini-d48ubt0.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position-y: 10px;
   
      display:inline-block;
      padding-top:100px;
      padding-left:100px;
      padding-right:100px;
      padding-bottom: 100px;
      margin-left: 10%;
      margin-right: 10%;
      overflow-x: hidden;
    min-width: 1vw;
    min-height: 1vh
      /*border-style: solid;
      border-color:rgba(0,0,0,0.1);*/
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    }
    .centerIllustration{
      display: block;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
    }
    img{
     width: 80%;  
    }
    .rightIllustration{
      width: 50%;
      float: right;
    }
    .leftIllustration{
      width: 50%;
      float: left;
    }
    .mainTitle{
      font-family:"Cardinal";
      text-align: center;
      margin-top: 10%;
      font-size:1.5em;
    }
    .subTitle{
      font-family:"Cardinal";
      text-align: center;
      font-size:1.2em;
    }
  p{
      font-size: 1em;
      font-weight: bold;
    }
  ol{
    font-size: 1em;
  }
  div.quoteBox{
    border-style: double;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px 20px 20px 20px;
    font-size: 1em;
    text-align: center;
  }
  img.screenshot{
    width: 80%;
  }
  .wordart{
    font-family :"Courier New", Courier, monospace;
    font-size: 75;
  }
    
    @media only screen and (max-width: 1200px) {
      .bookpage{
    padding: 0 0 0 0;
    padding-top: 20%;
    margin: 0px 0px 0px 0px;
}
      }
      .body{
        font-size: 0.6em;
      }
}
