---
key: 1
title: Works
permalink: /works/
excerpt: Saturday Morning Scribbles * Techie Notes * Character Design * Concept Art * Webcomics
image: pic02.jpg
background-image: pic02.jpg
---
{%
if site.social.linkedin-square %}
<p>I have a lot of different hobbies, but I'm currently focusing on my Webcomic and Techie Notes. Those I post every Friday and Saturday respectively </p>
<h2>Saturday Morning Scribbles</h2>
<h6>(formerly known as Saturday Morning Bloodborne)</h6>
    <p>Often Bloodborne, Dark Souls, and other video game artwork with traditional pen and paper </p>
    <img class="portfolio" src="https://github.com/ErikaVasNormandy/erikavasnormandy.github.io/blob/master/img/gallery-ink-ladymaria.jpg?raw=true"></img>
    <img class="portfolio" src="https://github.com/ErikaVasNormandy/erikavasnormandy.github.io/blob/master/img/gallery-ink-cainhurst.jpg?raw=true"></img>
    <img class="portfolio" src="https://github.com/ErikaVasNormandy/erikavasnormandy.github.io/blob/master/img/gallery-ink-healingvial.jpg?raw=true"></img>
    <img class="portfolio" src="https://github.com/ErikaVasNormandy/erikavasnormandy.github.io/blob/master/img/gallery-ink-horizon-zero-dawn.jpg?raw=true"></img>
    <img class="portfolio" src="https://github.com/ErikaVasNormandy/erikavasnormandy.github.io/blob/master/img/gallery-ink-squid.jpg?raw=true"></img>

    <img class="portfolio" src="https://github.com/ErikaVasNormandy/erikavasnormandy.github.io/blob/master/img/gallery-ink-bee.jpg?raw=true"></img>


<h2>WebComic - Tales From the Leyline Road</h2>
  <p>A Web Comic based on the Fragged Empire tabletop roleplaying game. Tales From the Leyline Road (TFLR) is a mix of various sci fi genres with inspiration from Borderlands and Guardians of the Galaxy. The setting takes place in the distant future, 10,000 years in the wake of humanity's genetic decline, as various genetically engineered descendants struggle to pick up the pieces of post-war galaxy. Amidst this backdrop of factional disputes, old grudges, and great unknown of a galactic empire abandoned, the crew aboard the Paradigm Shift must learn to work together and evolve beyond the strengths and limitations of their pasts.</p>
    <img class="portfolio" src="https://github.com/ErikaVasNormandy/erikavasnormandy.github.io/blob/master/img/gallery-digital-gene.jpg?raw=true"></img>
    <img class="portfolio" src="https://github.com/ErikaVasNormandy/erikavasnormandy.github.io/blob/master/img/gallery-digital-winter.jpg?raw=true"></img>
    <img class="portfolio" src="https://github.com/ErikaVasNormandy/erikavasnormandy.github.io/blob/master/img/gallery-digital-jaz.jpg?raw=true"></img>
    <img class="portfolio" src="https://github.com/ErikaVasNormandy/erikavasnormandy.github.io/blob/master/img/gallery-digital-laz.jpg?raw=true"></img>


<h3>Digital (assorted)</h3>

    <img class="portfolio" src="https://github.com/ErikaVasNormandy/erikavasnormandy.github.io/blob/master/img/gallery-digital-htll.jpg?raw=true"></img>
    <img class="portfolio" src="https://github.com/ErikaVasNormandy/erikavasnormandy.github.io/blob/master/img/gallery-img-medicinebun.jpg?raw=true"></img>

    <img class="portfolio" src="https://github.com/ErikaVasNormandy/erikavasnormandy.github.io/blob/master/img/gallery-digital-coolkids.jpg?raw=true"></img>


  <h3>Coffee</h3>
    <p>Medium to Light roasts. IDK how much the small-lot labels help but I hope they do. I love the look of Latte Art but I don't drink a whole lot of milk in my coffee anymore unfortunately</p>
    <img class="portfolio" src="https://github.com/ErikaVasNormandy/erikavasnormandy.github.io/blob/master/img/gallery-coffee-pourover.jpg?raw=true"></img>
    <img class="portfolio" src="https://github.com/ErikaVasNormandy/erikavasnormandy.github.io/blob/master/img/gallery-coffee-chemex.jpg?raw=true"></img>
    <img class="portfolio" src="https://github.com/ErikaVasNormandy/erikavasnormandy.github.io/blob/master/img/gallery-coffee-moka.jpg?raw=true"></img>
    <img class="portfolio" src="https://github.com/ErikaVasNormandy/erikavasnormandy.github.io/blob/master/img/gallery-coffee-frenchpress.jpg?raw=true"></img>
    

<h2> Sketchbook + Projects</h2>
   <p>You can always find more stuff on my <a href="https://www.artstation.com/technomancer-01">Artstation</a> and <a href="https://www.instagram.com/technomancer_01">Instagram</a>. All the artwork on this site was made by me. I usually try to post a traditional pen and paper piece on Saturdays, and a Digital one on Fridays. </p>
                    <p>I also sell some of this stuff on <a href="https://www.redbubble.com/people/Technomancer-01">RedBubble</a> and <a href="https://www.etsy.com/people/KittysCradle">Etsy</a></p>
                

<p class="p2"><span class="s1">
<div class="table-wrapper">
  <table class="alt"><tbody><tr><td style="text-align: center;">Visit my
  <a target="_blank" href="{{ site.social.linkedin-square }}">LinkedIn profile</a></td>
<td> Hit me up on <a target="_blank" href="{{ site.social.instagram }}">Instagram</a></td> 
  </tr></tbody></table>
</div>{%
endif %}
{%
if site.categories.works %}
<div class="table-wrapper">
  <table>
    <tbody>{%
      include fn_groupsort_reverse.html unsorted=site.categories.works groupby='priority' sortby='date'
%}{%  for work in sorted_list %}
      <tr>
        <td><b><a href="{{ work.url | prepend: site.baseurl }}">{{ work.title }}</a></b></td>
        <td>{{ work.date | date: "%b %Y" }}</td>
        <td>{{ work.excerpt | strip_html | truncatewords: 12 }}</td>
        <td>
          {% include techlist.html %}
        </td>
      </tr>{%
      endfor %}
    </tbody>
  </table>
</div>{%
  if site.works_in_progress %}
  <div class="works_inprogress">In-progress, more to come.</div>{%
  endif %}{%
endif
%}
