@font-face {
    font-family:"Cardinal";
    src: url('../fonts/Cardinal.ttf');


}
@font-face{
  font-family:"typewriter";
  src: url('../fonts/typewriter-royal-200.regular.ttf');
}
body{
  background-color: black;
}


body{
  background-color: black;
  background-image:url("https://img00.deviantart.net/782d/i/2014/180/9/a/arda_hyperion_by_asci_red-d7oj6hm.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

}

.bookpage {
    background-image: url(https://orig00.deviantart.net/e8e0/f/2011/247/6/e/old_paper_stock_02_by_ftourini-d48ubt0.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 10px;
    min-height: 1700px;

    width: 1000px;

    display: block;

    padding-top:200px;
    padding-left:200px;
    padding-right:200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    /*border-style: solid;
    border-color:rgba(0,0,0,0.1);*/
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }
  .centerIllustration{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }

  .rightIllustration{
    width: 50%;
    float: right;
  }
  .leftIllustration{
    width: 50%;
    float: left;
  }

  .mainTitle{
    font-family:"Cardinal";
    text-align: center;
    margin-top: 10%;
    font-size:5em;
  }
  .subTitle{
    font-family:"Cardinal";
    text-align: center;
    font-size:2em;
  }

p{
    font-size: 2em;
    font-weight: bold;
  }


ol{
  font-size: 1.5em;
}
div.quoteBox{
  border-style: double;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px 20px 20px 20px;
  font-size: 1.5em;
  text-align: center;

}
img.screenshot{
  width: 100%;

}

h1.wordart{
  font-family :"Courier New", Courier, monospace;
  font-size: 10%;
}
