
body, html {
  height: 100%;
font-family: 'Alegreya', serif;
background-color: white;
}
.centertext{
	position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center!important;
}
.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("https://s3-us-west-1.amazonaws.com/scavengers-repo.com/images/SpringMoodBoard/james-paick-125868-final.jpg");
  min-height: 75%;
  width: 100%;
  z-index: 10;
  filter: grayscale(50%);
}


img{
	width: 100%;
}

.content{
	background-color: white;

}
.tag{

	    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}
.onSmall{
	
	background-color: red;
	padding: 50px 50px 50px 50px;
}
.tag-right{

	    position: absolute;
    right: 0;
    bottom: 0;

        text-align: center!important;

        padding: 12px 24px!important;
        font-color: white;
}

    @media only screen and (max-width: 800px) {
    	.centertext{
    		position: relative;
    	}
      .bookpage{
    padding: 20px 20px 20px 20px;
    padding-top: 20%;
    margin: 0px 0px 0px 0px;
}
      }
      .body{
        font-size: 0.6em;
      }
      .onSmall{
      	display: inline;
      	background-image: url("https://s3-us-west-1.amazonaws.com/scavengers-repo.com/images/SpringMoodBoard/james-paick-125868-final.jpg");
      	width: 100%;

      	z-index: 10;
      	top: 200px;
      }
}
