    <!-- About Section -->
    <section id="about" class="container about-section text-center">
         <div class="container project-container">

            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
I am an illustrator and software engineer at NASA.

<p>I am based in Night City, aka the Bay Area pre-Cyberpunk.</p>

<p>This site was previously what scavengers-repo was for, but I’ve since moved towards git pages to get rid of the overhead.</p>

<p>By day, I am usually working with code snippets and network traffic. Obviously I can’t go into a lot specifics of what we do, but it’s pretty empowering to compare hacking scenes with real life</p>

<p>My digital self is more into the artsy, [gaming, comics, anime] scene. I was a closeted geek way back in the early 2000s. I might miss some of those times but I sure like having a job that’s able to fund my hobbies and no pressure of school and all the drama of being a teenager. Now I get to game, paint, and pull espresso shots while waiting for Cyberpunkian future to take place in real life.</p>

<p>You can check me out on <a href="https://www.artstation.com/technomancer-01">ArtStation</a> and <a href="https://www.instagram.com/technomancer_01">Instagram</a>. I spend
                so much time staring at screens, that sketching stuff out on pencil and paper is a relief. That being said, tablets, styluses, and art software have come quite a long way, all the stuff you see on
                    here is stuff I've made. </p>
                
                <p>My favorite thing to do is character design; I started out by wanting to breathe some life into the DND campaigns my friends would run. I do a sketch every Saturday now, 
                    usually it's Bloodborne stuff, but I like mixing them with my coding notes. My goal is to build a library of technical notes, retro tech, and 
                    alchemical grimoires laden with illustrations and diagrams detailing cryptids next to network diagrams. Now <i>that</i> would have gotten my stupid
                   younger self interested in engineering.
                
                </p>

        </div>
        </div>
    </section>
