    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <p>Welcome to my site. This was previously what scavengers-repo.com was for, but updating it became a huge overhead so looks like I'll be in git pages moving forward. </p>
                <p>About me... I'm just a tech worker in the Bay, grew up as a closeted geek and pretty unaware of it in the early 2000s until I went off
                    to college in the 2010s to "explore" the wider world. I picked up software engineering back when it was mostly iPhone app dev and
                    no limits, opened up the InfoSec skill tree path, and everything's been peachy. I can't really go into the specifics of what I do but I guess you can check out 
                    my <a href="https://www.linkedin.com/in/erika-hudiono/">LinkedIn</a> if you're actually into that professional landscape. </p>
                <p>My digital self is more into the artsy, [gaming, comics, anime] scene. I didn't grow up playing games beyond Banjo Tooie and Spyro on my older sister's friend's GameCube 
                    while they snuck off to play Mech Warrior, at least until I got brave enough to buy an XBox in college. </p>
                <p>It's been mostly PC games in between my dayjob and nightjob. I don't get a lot of time to play, so my <i>gAm3R Sk1LlZ</i>
                    are pretty much relegated to casual tier, but I try to at least have one game I play consistently, even if it's just a week. My kid-side tells me
                    that having an ongoing game improves the quality of my work so maybe, just maybe there is some element of truth to that.</p>
                <p>I definitely did not grow up with comics since I was never a huge fan of the bigger DC and Marvel superhero comic genre, but I'm a really big fan of Dark Horse and Titan Comics. They usually are the ones
                to publish the video game comics that I follow like Bloodborne and Horizon Zero Dawn. It seems so archaic in a time of online shopping and pirating, but
                I have a soft spot for local comic book/game shops. I may not have grown up with vintage tech and retrogaming (I'm a young millenial/old gen z'er so I barely remember the 2000s let alone the 90s),
                but they are a relic from an earlier time. Whatever bells and whistles we have now, are built off of the things that era/subculture started and perpetuated</p>
            </div>
        </div>
    </section>
