<!-- Download Section -->
    <section id="projects" class="content-section text-center">
        <div class="download-section">
            <div class="container project-container">
                <div class="col-lg-8 col-lg-offset-2">


<h2> Sketchbook + Projects</h2>
<p class="p2"><span class="s1">
<h3>Saturday Morning Inktober</h3>
    <p>Often Bloodborne, Dark Souls, and other video game artwork with traditional pen and paper </p>

<h3>Fragged Empire: Tales From the Leyline Road</h3>
    <p>A Web Comic based on the Fragged Empire tabletop roleplaying game. Tales From the Leyline Road (TFLR) is a mix of various sci fi genres with inspiration from Borderlands and Guardians of the Galaxy. The setting takes place in the distant future, 10,000 years in the wake of humanity's genetic decline, as various genetically engineered descendants struggle to pick up the pieces of post-war galaxy. Amidst this backdrop of factional disputes, old grudges, and great unknown of a galactic empire abandoned, the crew aboard the Paradigm Shift must learn to work together and evolve beyond the strengths and limitations of their pasts.</p>
 

  <h3>InfoSec</h3>
    <p>SANS and Cryptids. What could go wrong</p>
       <img class="portfolio" src="https://cdnb.artstation.com/p/assets/images/images/019/199/599/large/erika-hudiono-arppoisoning-medium.jpg?1562460014"></img>
       <img class="portfolio" src="https://cdnb.artstation.com/p/assets/images/images/019/335/317/large/erika-hudiono-cipherpg1.jpg?1563029174"></img>


  <h3>Radio + Retrotech FM</h3>
    <p>True Retro. For real some of this has been useful for understanding how software actually works beyond just pushing buttons and expecting things to *work*</p>

  <h3>Planetologist in Night City</h3>
    <p>Succulents, air Plants, drinking water, soil ecology, sustainability and all that. 
    It comes with the NASA occupation. Fun fact but Cyberpunk 2020 was based in the Bay Area</p>


    <h3>Coffee</h3>
    <p>Medium to Light roasts. IDK how much the small-lot labels help but I hope they do. I love the look of Latte Art but I don't drink a whole lot of milk in my coffee anymore unfortunately</p>
    

  <h3>High Tech Low Lives</h3>
    <p>Cyberpunk 2020 Webcomic in the making</p>



  <h3>Arda Hyperion </h3>
    <p>Magitech, Technological Progression, Societal Evolution. Post-crisis and Industrialwave landscapes with a few elements of Gaslamp Fantasy</p>


                </div>
            </div>
        </div>
    </section>

