<section id="sketchbook" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
               <h2>Sketchbook</h2>
                <p>You can always find more stuff on my <a href="https://www.artstation.com/technomancer-01">Artstation</a> and <a href="https://www.instagram.com/technomancer_01">Instagram</a>. All the artwork on this site was made by me. I usually try to post a traditional pen and paper piece on Saturdays, and a Digital one on Fridays. </p>
                    <p>I also sell some of this stuff on <a href="https://www.redbubble.com/people/Technomancer-01">RedBubble</a> and <a href="https://www.etsy.com/people/KittysCradle">Etsy</a></p>
                
                </div>
        </div>
</section>
